<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="installed.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="../img/icons/icon-96.png" alt="Logo">
        <h1>Linkedin Learning Video downloader</h1>
    </header>

    <main>
        <p>Hello ! </p>
        <p>Like me, you enjoy LinkedIn trainings</p>
        <p>but you would like to be capable to watch the episodes without network or electricity ?</p>
        <p>Then you've come to the right place.</p>
        <img class="img5" src="../img/LLVD_0.png" alt="linkedin Lessons">

        <p>Just open the video intro and then click once on the LinkedIn "Video Downloader" button.</p>
        <p>The plugin will search and download all the videos of each lessons and take it on a folder, in your computer.</p>
        <br>
        <h2>Do not touch this browser window again during the operation.</h2>
        <img class="img5" src="../img/LLVD_1.png" alt="">
        <p>open the first training video:</p>

        <div id="button">
            <div>
                <img src="../img/LLVD_2.png" alt="">
                <h4>Icon blue:</h4>
                <p>Nothing</p>
            </div>
            <div>
                <img src="../img/LLVD_3.png" alt="">
                <h4>Green icon:</h4>
                <p>number of videos found to download ex: 1/28</p>
            </div>
            <div>
                <img src="../img/LLVD_4.png" alt="">
                <h4>Green icon:</h4>
                <p>more than 10 videos found to download</p>
            </div>
            <div>
                <img src="../img/LLVD_5.png" alt="">
                <h4>Red icon:</h4>
                <p>number of remaining videos to download</p>
            </div>
        </div>

        <p>you will find all the videos in the "Linkedin Learning" folder in your Download folder.</p>
    </main>
    <div id="github">
        <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
         <a href="https://github.com/darkvadehors/Extension-firefox-linkedin-learning" target="_blank" rel="noopener noreferrer"><h3>Source on Github</h3></a>
    </div>
</body>

</html>