<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="installed.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="../img/icons/icon-96.png" alt="Logo">
        <h1>Linkedin Learning Video downloader</h1>
    </header>

    <main>
        <p>Hello, like me, you like LinkedIn trainings but you would like to be able to watch them in your mountain summer cottage without network or electricity!</p>
        <img class="img5" src="../img/LLVD_0.png" alt="linkedin Lessons">
        <p>Well perfect open the intro video and click once on the linkedin learning Video Downloader button.</p>
        <p>The plugin will fetch all the videos of each lesson and download them.</p>
        <br>
        <h2>Do not touch this browser window again during the operation.</h2>
        <img class="img5" src="../img/LLVD_1.png" alt="">
        <p>open the first training video:</p>

        <div id="button">
            <div>
                <img src="../img/LLVD_2.png" alt="">
                <h4>Icon blue:</h4>
                <p>Nothing</p>
            </div>
            <div>
                <img src="../img/LLVD_3.png" alt="">
                <h4>Green icon:</h4>
                <p>number of videos found to download ex: 1/28</p>
            </div>
            <div>
                <img src="../img/LLVD_4.png" alt="">
                <h4>Green icon:</h4>
                <p>more than 10 videos found to download</p>
            </div>
            <div>
                <img src="../img/LLVD_5.png" alt="">
                <h4>Red icon:</h4>
                <p>number of remaining videos to download</p>
            </div>
        </div>

        <p>you will find all the videos in the "Linkedin Learning" folder in your Download folder.</p>
    </main>
</body>

</html>